{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charon's Little Helper</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <style>
        #statistics {
            margin-top: 20px;
            margin: 0 auto;
            text-align: center;
        }
        h2 {
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 10px auto;
            background-color: rgba(0, 0, 0, 0.7);
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: BLACK;
        }

    </style>

</head>
<body>
    <div class="title_a_navbar">
        <h1>Charon's Little Helper</h1>
        <nav>
            <a href="{% url 'import_fits' %}">Import Images</a>
            <a href="{% url 'export_fits' %}">Export Images</a>
        </nav>
    </div>
    <div class="contents">
        <article class="content_part">
            <!-- render the map -->
            <svg width="960" height="500" id="sky-map"></svg>
            <script>
                // parse JSON data
                var skyCoverageData = JSON.parse('{{ sky_coverage_json|safe }}');
                console.log(skyCoverageData);

                // set up the width, height, and margins for the SVG canvas
                var width = 930, height = 500, radius = height / 2;

                // create an SVG element within the div with id 'sky-map'
                var svg = d3.select("#sky-map")
                            .attr("width", width)
                            .attr("height", height)
                            .append("g")
                            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                // define the Aitoff projection
                var projection = d3.geoAitoff().scale(radius).translate([0, 0]);

                // define the path generator using the Aitoff projection
                var path = d3.geoPath().projection(projection);

                // add a path for each data point
                svg.selectAll("path")
                    .data(skyCoverageData)
                    .enter()
                    .append("path")
                    .attr("d", function(d) {
                        // convert the RA and DEC to the format needed by the projection
                        var coords = [d.ra - 180, -d.dec]; // adjust RA and invert DEC
                        return path({type: "Point", coordinates: coords});
                    })
                    .attr("fill", "steelblue")
                    .attr("stroke", "#fff")
                    .attr("stroke-width", "0.5");
            </script>
        </article>
    </div>
    </div>
    <div id="statistics">
        <h2>Statistics</h2>
        <table>
                <tr>
                    <td>Number of Nights</td>
                    <td>{{ nights }}</td>
                </tr>
                <tr>
                    <td>Number of Frames</td>
                    <td>{{ frames }}</td>
                </tr>
                <tr>
                    <td>Last Light Frames Night</td>
                    <td>{{ light_frames }}</td>
                </tr>
                <tr>
                    <td>Last Calib Frames Night</td>
                    <td>{{ calib_frames }}</td>
                </tr>
                <tr>
                    <td>Last CCD Temperature</td>
                    <td>{{ CCD_temp }}</td>
                </tr>
        </table>
    </div>
</body>
</html>