{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charon's Little Helper</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="title_a_navbar">
        <h1>Charon's Little Helper</h1>
        <nav>
            <a href="{% url 'import_fits' %}">Import Images</a>
            <a href="{% url 'export_fits' %}">Export Images</a>
        </nav>
    </div>
    <div class="contents">
        
        <article class="content_part">
            <img id="sky-map" src="{% static 'sky_coverage_map.png' %}" alt="Sky Coverage Map">
        </article>
        
        <article class="content_part">
            <div id="statistics">
                <h2>Statistics</h2>
                <table>
                        <tr>
                            <td>Number of Nights</td>
                            <td>{{ nights }}</td>
                        </tr>
                        <tr>
                            <td>Number of Frames</td>
                            <td>{{ frames }}</td>
                        </tr>
                        <tr>
                            <td>Last Light Frames Night</td>
                            <td>{{ last_light_frame }}</td>
                        </tr>
                        <tr>
                            <td>Last Calib Frames Night</td>
                            <td>{{ calib_frames }}</td>
                        </tr>
                        <tr>
                            <td>Last CCD Temperature</td>
                            <td>{{ ccd_temp }}</td>
                        </tr>
                </table>
            </div>
        </article>
    </div>
</body>
</html>