{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charon's Little Helper</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="title_a_navbar">
        <h1>Charon's Little Helper</h1>
        <nav>
            <a href="{% url 'import_fits' %}">Import Images</a>
            <a href="{% url 'export_fits' %}">Export Images</a>
        </nav>
    </div>
    <div id="map">
    </div>
    <div id="statistics">
    </div>
</body>
</html>
