{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charon's Little Helper - Import Fits</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <header class="title_a_navbar">
        <h1><a href="{% url 'home' %}">Charon's Little Helper</a></h1>
        <nav>
            <a href="{% url 'import_fits' %}">Import Images</a>
            <a href="{% url 'export_fits' %}">Export Images</a>
        </nav>
    </header>
    <div class="contents">
        <article class="content_part">
            <h2>Import Fits Images</h2>
        </article>
        <article class="content_part">
            <h3>Last Night File Path</h3>
        </article>
        <article class="content_part">
            <form method="post" action="{% url 'import_fits' %}">
                {% csrf_token %}
                <h3>{{ form.directory_path.label_tag }}</h3><br>
                {{ form.directory_path }}

                <input type="file" id="file-browse" webkitdirectory style="display: none;" onchange="updateInputWithPath(this)">
                <button type="button" onclick="document.getElementById('file-browse').click()">Browse</button>
                <input type="submit" value="Import">
            </form>

            <script>
            function updateInputWithPath(input) {
                const files = input.files;
                if (files.length) {
                    const directoryName = files[0].webkitRelativePath.split('/')[0];
                    // updates the input field with the hardcoded path and the selected directory name
                    document.getElementById('directory_path').value = 'Hardcoded_path\\' + directoryName;
                }
            }
            </script>

        </article>
    </div>
</body>
</html>
