{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charon's Little Helper - Import Fits</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <header class="title_a_navbar">
        <h1><a href="{% url 'home' %}">Charon's Little Helper</a></h1>
        <nav>
            <a href="{% url 'import_fits' %}">Import Images</a>
            <a href="{% url 'export_fits' %}">Export Images</a>
        </nav>
    </header>
    <div class="contents">
        <article class="content_part">
            <h2>Import Fits Images</h2>
        </article>
        <article class="content_part">
            <form method="post" action="{% url 'import_fits' %}">
                <h3>Last Night File Path:</h3>
                <div class="form-container">
                    {% csrf_token %}
                    (path: "{{ last_added_directory_path }}")
                    <input type="submit" name="import_last_night" value="Import">
                </div>
            </form>
        </article>
        <article class="content_part" {% if inserted_rows == 0 %}style="margin: 0"{% endif %}>
            <form method="post" action="{% url 'import_fits' %}">
                {% csrf_token %}
                <h3>{{ form.directory_path.label_tag }}</h3>
                <div class="form-container">
                    {{ form.directory_path }}
                    <button type="button" onclick="triggerFileExplorer()">Browse</button>
                    <input type="submit" name="import_directory" value="Import">
                </div>
            </form>

            <script>
            function triggerFileExplorer() {
                fetch('{% url "open_file_explorer" %}')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('directory_path').value = data.directory_path;
                })
                .catch(error => console.error('Error:', error));
            }
            </script>
        </article>
        {% if inserted_rows != 0 %}<article class="content_part" style="margin: 0">
            <h3>Messages:</h3>
            Opened and imported Fits images: {{ inserted_rows }}
        </article>
        {% endif %}
    </div>
</body>
</html>
