body {
    background: url("heic1307a.jpg") no-repeat fixed center;
    background-size: cover;
    color: #E6E6E6;
    padding: 20px 40px;
    font-size: 1.2em;
}

.title_a_navbar {
    background: rgba(9, 14, 25, 0.92);
    padding: 30px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: inset 0 -1px 2px 1px #637b8d;
    margin-bottom: 20px;
}

.contents {
    background: rgba(9, 14, 25, 0.92);
    box-shadow: inset 0 1px 2px 1px #637b8d;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 25px 35px;
}

.content_part {
    background: rgba(31, 48, 63, 0.82);
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 15px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2, h3 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 25px 50px;
    position: relative;
}

nav a {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E6E6E6;
    padding: 15px 30px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
}

a:hover {
    box-shadow: inset 0 -5px 4px -4px #637b8d;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    margin: 10px 0;
}

input[type="submit" i], button {
    background: rgba(9, 14, 25, 0.92);
    border-radius: 5px;
    color: #E6E6E6;
    border: none;
    font-size: 1em;
    padding: 10px 15px;
    text-transform: uppercase;
    flex-shrink: 0;
}

#directory_path {
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    height: 42px;
    padding: 0 10px;
    font-size: 18px;
}

#export {
    margin-top: 20px;
    text-align: center;
}

#ExportForm {
    padding: 20px;
    border-radius: 20px;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
}

.checkbox-container label {
    display: block;
    margin-bottom: 5px;
}

.field-input {
    margin: 10px;
}

#sky-map {
    width: 100%;
    height: 100%;
}

#statistics {
    text-align: center;
}

h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

